@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: "Geist", system-ui;
}

.dark {
  --background: #1f1f1f;
  --foreground: #ffffff;
}

*:first-child {
  @apply !mt-0;
}

.prose h1 {
  @apply text-2xl font-bold mt-6 mb-4;
}

.prose h2 {
  @apply text-xl font-bold mt-5 mb-3;
}

.prose h3 {
  @apply text-lg font-bold mt-4 mb-2;
}

.prose pre {
  @apply bg-gray-100 dark:bg-gray-800 p-4 rounded-md overflow-auto my-4;
}

.prose code {
  @apply bg-gray-100 text-black dark:bg-gray-800 dark:text-white px-1 py-0.5 rounded text-sm;
}

.prose pre code {
  @apply bg-transparent p-0;
}

.prose blockquote {
  @apply border-l-4 border-gray-300 dark:border-gray-600 pl-4 italic my-4;
}

.prose ul {
  @apply list-disc pl-5 my-4;
}

.prose ol {
  @apply list-decimal pl-5;
}

.prose p {
  @apply my-3;
}

.prose a {
  @apply text-blue-600 dark:text-blue-400 hover:underline;
}

.prose hr {
  @apply my-6 border-gray-300 dark:border-gray-600;
}
